/* Basic CSS reset to remove default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: papyrus, fantasy;
  line-height: 1.6;
  background-color: #f6dfc7;
  color: #201304;
}

header {
  
  text-align: right;
  padding: 1rem;
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

nav ul {
  text-align: left;
  list-style: circle;
}

nav li {
  display: inline;
  margin-right: 20rem;
}

nav a {
  
  text-decoration: none;
}

nav a:hover {
  border-bottom: 8px solid #fff;
}

main {
  padding: 2rem;
}

section {
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}
